<!DOCTYPE html>
<html>
<body>
<ul class="nav navbar-nav pull-left">

<h4>My RegisteredApplications</h4>
<table style="width:50%">
  <tr>
    <th>RegisteredApplication(click RegisteredApplication link below to edit) </th>
    <th>RegisteredApplication(click link to show) </th>
    <th>RegisteredApplication(click link to delete) </th>
  </tr>
  <% @registered_applications.each do |regapp| %>
    <tr>
          <td><%= link_to regapp.name, edit_registered_application_path(regapp), class: 'btn btn-link btn-md' %></td>
          <td><%= link_to "show", [regapp], method: :get, class: 'btn btn-link btn-md' %></td>
          <td><%= link_to "delete", [regapp], method: :delete, class: 'btn btn-warning btn-md' %></td>
    </tr>
  <% end %>
</table>
<h4>Create New RegisteredApplication</h4>
<div class="row">
  <div class="col-md-4">
    <%= render partial: 'form', locals: {registered_application: @registered_application} %>
  </div>
</div>
</ul>
</body>
</html>
