<div class="row">
  <div class="col-md-8">
    <div class = "col-md-8">
       <%= @registered_application.name %>
       <%= @registered_application.url %>
       <h5> Eventcount = <%= @registered_application.events.count %> </h5>
   </div>
  </div>
</div>
