<div class="row">
  <div class="col-md-8">
    <div class = "col-md-8">
       <%= @registered_application.name %>
       <%= @registered_application.url %>
       <% @events.each do |event| %>
         <h5> Event_type = <%= event[0] %> </h5>
         <h5> Event_type_count = <%= @events.count(event) %> </h5>
       <% end %>
   </div>
  </div>
</div>
