
<br>


<% content_for :top_content do %>

  <div class="jumbotron">
    <div class="container">
      <div class="boxed"">
        <h2 style="margin-top:230px;">Analetrics</h2>
        <h3>Build an analytics service to track events on websites</h3>
          Register Applications to track their events. View the events on registerd applications<br>
        <%= link_to "Start", registered_applications_path, class: 'btn btn-primary btn-lg', style:'margin-top:30px;' %>
      </div>
    </div>
  </div>
<% end %>
<script>blocmetrics.report("Event_for Blocmetrics");</script>
</br>