
<br>


<% content_for :top_content do %>
    <div class="boxed">
      <div style="width:760px; height:60px;">
        <h4 style="text-align:left;color:white;">&nbsp;&nbsp;Blocmetrics:</h4> <br>
      </div>
      <div style="width:400px; height:200px;float:center;">
        <h1>Blocmetrics:</h1>
        <p>An analytics service to track events on websites</p>
         <p>
           <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-md' %>
         </p>
       </div>
       <br>
      <div style="width:600px; height:150px; margin-left:150px;background-color:#87CEFA; border: 1px solid #191970; color:black">
        <table style="width: 100%; border: 5px solid #191970; border-collapse: collapse; text-align:left">
          <tr>
            <th>Edit_Application</th>
            <th>Show_Application</th>
            <th>Delete_Application</th>
          </tr>
          <tr>
            <td>Application1</td>
            <td>Application1</td>
            <td>Application1</td>
          </tr>
         </table> 
      </div>
      <br><br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Register Applications to track their events. View the events on registerd applications<br><br>
       <%= link_to "Get Going", registered_applications_path, class: 'btn btn-primary btn-sm' %>
       <br>
    </div>
<% end %>
</br>