// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.boxed {
  border: 20px solid #191970 ;
  width: 800px;
  height: 650px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  top: 50%;
  color: white;
  background-color: #708090;
  border-radius:20px;
}

table, th, td,tr {
    border: 1px solid black;
}

section {
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px 10px 5px;
  width: 20%;
}

.posts {
  margin-right: auto;
  margin-left: auto;
  padding: 5px 10px 10px 5px;
  width: 20%;
}
.content {
  width: 200px ;
  margin-left: 600px ;
  margin-right: 600px ;
}

h2, h3 {
  color:green;
  text-align: center;
}

.border-medium {
  border: 3px solid green;
  text-align: center;
}
